<div class="animatedBack" style = "clear: both; margin-top: 0px;">
	<canvas id="canvas" resize hidpi="off" style="background:none;"></canvas>
</div>
	
<div class="imgHeader">
	<div class = "mainImg">
		<%= image_tag "uphouseImg.svg" %>
	</div>
</div>

<h1>
	UphouseWorks
</h1>

<h3 class = "grayText">
	It's all about creating.
</h3>


<div class = "specialIntroItem">
	<br>
	<br>
	<h2 class = "specialIntroText">New app for Android!</h2>
		<a href = "/about_azul/HangmanAzul">
		<h3 class = "specialIntroText" style = "text-decoration: underline;">
			Hangman Azul is now available for download on<br>Google Play<br>
		</h3>
		</a>
		<h5 class = "specialIntroText" style = "text-align: center;">
		<i style="text-align: center;">(Lite version available as well)</i>
		</h5>
		<a class = "googlePlayLink" href="https://play.google.com/store/apps/details?id=com.uphouseworks.hangman.paid">
  			<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
		</a>
		<br>
		<!--
		<a class = "googlePlayLink" href="https://itunes.apple.com/us/app/bit-shooter/id808501947?ls=1&mt=8">
			<img src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg"/>
		</a>
		-->
		<br>
</div>

<div class = "stdIntroItem">

	<h2>
		Welcome!
		<img src = "/images/ProgressHouseApplied.svg">
	</h2>
	
	<p>
		 My intentions are simple.<br> To bring ideas to reality, and to share them with you.<br><br> It has always been a strong interest of mine to invent, create and inspire. With software it is easier than ever to share ideas with others and to <i>inspire</i> others.
		<br><br>
	</p>

</div>

<div class = "stdIntroItem">
	<h2>Fresh from the house.<img src="/images/AssetHouse.svg"></h2>
	
	<p style = "text-align:left;">
		I just released another application to Google Play called "Hangman Azul". The purpose is in the name, it's a hangman game!
		However the azul portion bears significance as well. Azul is spanish for <i>blue</i>, and that color would the basis for the them of this app.
		The background is blue and the usage is through bluetooth. The bluetooth part is the primary function, as this is only a multiplayer hangman game.
		I attempted to start something like this over a year ago, but was unable to realize it. A few months ago I revisited the idea and was able to finally get it set up!
		It's currently at an early release, at Version 0.2.1, but it has been in the works for some time now.
		<br>
		<br>
		You can check it out for yourself in the Google Play store <a style = "color: #202020; text-decoration: underline;" href = "https://play.google.com/store/apps/details?id=com.uphouseworks.hangman">here</a>.
		<br>
		<br>
	</p>

</div>

<div class = "stdIntroItem">
	<h2>What's in the works?<img src = "/images/WorkHouse.svg"></h2>
	
	<p style = "text-align:left;">
		Hangman Azul is being worked on consistently, however it is notable to mention that this will be the last game I will be doing for some time.<br>
		I feel the need to move onto some more practical applications, although it is fun to write these things!<br>
		Stay tuned for whatever new product decides to roll out the door next, of course, by then I'll have something a little more documented as to what that will be.
		<br>
		<br>
	</p>
</div>

<div id="push"></div>
	</div>